@inherits LayoutComponentBase
@using BusinessLogic
@using DepoQuick.Domain
@inject MemoryDataBase MemoryDataBase
@inject NavigationManager NavigationManager


<PageTitle>Interface</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (_userAction)
            {
                @Body     
            }
            else
            {
                <h2>¡Bienvenido!</h2>
                <h3>Desea ingresar o registrarse</h3>
                <div class="form-btn" style="margin-top:10px">
                    <button type="button" class="btn btn-primary" @onclick="Login">Ingresar al sistema</button>
                </div>
                <div class="form-btn" style="margin-top:10px">
                    <button type="button" class="btn btn-primary" @onclick="Register">Registrarse</button>
                </div>
            }
        </article>
    </main>
</div>

@if (_buttonPressed)
     {
         <NavMenu ShowNavbar=@_buttonPressed />
     }

@code
{
    bool _userAction = false;
    bool _buttonPressed = false;
    
    public void Login()
    {
        _buttonPressed = true;
        _userAction = true;
        
        NavigationManager.NavigateTo("/Login");
    }
    
    public void Register()
    {
        _buttonPressed = true;
        _userAction = true;
        
        NavigationManager.NavigateTo("/Register");
    }
}