@inherits LayoutComponentBase
@using BusinessLogic
@inject MemoryDataBase MemoryDataBase

<PageTitle>DepoQuick</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <button id="btn-login" class="btn btn-outline-dark" style="background-color: transparent; color: black">@if (_controller.UserLoggedIn()) { <text>Hola @_controller.GetActiveUser().Name!</text> }else { <text>Sin ingresar al sistema</text> }</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private Controller _controller;

    protected override void OnInitialized()
    {
        _controller = new Controller(MemoryDataBase);
    }

}