@inherits LayoutComponentBase
@using BusinessLogic
@inject MemoryDataBase MemoryDataBase
@inject NavigationManager NavigationManager
@using DepoQuick.Domain
@using DepoQuick.Domain.Exceptions.ControllerExceptions
@using DepoQuick.Domain.Exceptions.DateRangeExceptions
@using DepoQuick.Domain.Exceptions.UserExceptions
@using Interface.Pages.Home


<PageTitle>Home</PageTitle>

@if (_showAlertEmptyUsersList)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">No hay usuarios regitrados</h4>
        </div>
    }

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            @*<button id="btn-login" class="btn btn-outline-dark">@if (_btnLogin) { <text>Login</text> }else { <text>Logeado</text> }</button>*@
            <button id="btn-login" class="btn btn-outline-dark">@if (MemoryDataBase.GetActiveUser()!=null) { <text>Hola @MemoryDataBase.GetActiveUser().GetName()!</text> }else { <text>Sin ingresar al sistema</text> }</button>
        </div>
        <article class="content px-4">
            @if (_userAction)
            {
                @Body     
            }
            else
            {
                <h2>@if (MemoryDataBase.GetListOfUsers().Count == 0) { <text>¡Bienvenido a DEPOQUICK!</text> }else { <text></text> }</h2>
                <h3>Desea ingresar al sistema o registrarse</h3>
                <div class="form-btn" style="margin-top:10px">
                    <button type="button" class="btn btn-primary" @onclick="ShowAlertLogin">Ingresar al sistema</button>
                </div>
                <div class="form-btn" style="margin-top:10px">
                    <button type="button" class="btn btn-primary" @onclick="Register">Registrarse</button>
                </div>
            }
        </article>
    </main>
</div>

@code
{
    private bool _showAlertUserLogin;
    private bool _showAlertEmptyUsersList;
    bool _userAction = false;
    bool _buttonPressed = false;

    private void ShowAlertLogin()
    {
        HideAllAlertsLogin();
        if (UserCanLogin())
        {
            Login();
        }
        else
        {
            _showAlertEmptyUsersList = true;
        }
    }

    private void HideAllAlertsLogin()
    {
        _showAlertEmptyUsersList = false;
        _showAlertUserLogin = false;
    }
    
    public void Login()
    {
        _buttonPressed = true;
        _userAction = true;

        NavigationManager.NavigateTo("/Login");
    }

    private bool UserCanLogin()
    {
        return MemoryDataBase.GetListOfUsers().Count > 0;
    }

    public void Register()
    {
        _buttonPressed = true;
        _userAction = true;

        NavigationManager.NavigateTo("/Register");
    }
}