@using BusinessLogic
@using DepoQuick.Domain
@inject MemoryDataBase MemoryDataBase
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DepoQuick Menu</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (UserLoggedIn())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Home">
                    <span class="oi oi-home" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
            
            @if (UserLoggedIn() && IsAdministrator())
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Register">
                        <span class="oi oi-plus" aria-hidden="true"></span> Registro
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Statistics">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Estadisticas
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Ratings">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Valoraciones
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Logs">
                        <span class="oi oi-dial" aria-hidden="true"></span> Logs
                    </NavLink>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="DepositReserve">
                        <span class="oi oi-plus" aria-hidden="true"></span> Reservar
                    </NavLink>
                </div>
            }
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="GestionOfReservs">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Gestión de reservas
                </NavLink>
            </div>
            
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Deposits">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Depósitos
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Promotions">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Promociones
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="Logout">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
            
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu;
    private Controller _controller;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override void OnInitialized()
    { 
        _controller = new Controller(MemoryDataBase);
        collapseNavMenu = false;
    }

    private bool UserLoggedIn()
    {
        return _controller.UserLoggedIn();
    }

    private void Logout()
    {
        
        _controller.LogoutUser();
        
        NavigationManager.NavigateTo("/",forceLoad:true);
    }

    private bool IsAdministrator()
    {
        return _controller.GetActiveUser().IsAdministrator();
    }
}