@page "/LogsUser"
@using BusinessLogic
@using BusinessLogic.Controllers
@using DepoQuick.Domain
@inject SessionController SessionController
@inject UserController UserController
@inject LogController LogController

<html lang="es">
    <head>  
        <meta charset="utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    </head>

    <body>
        <h3>¡Hola, @_loggedInUser.Name! Aquí puedes encontrar las acciones que ha tomado cada usuario.</h3>
    
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Acción</th>
            <th>Fecha</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (LogEntry log in _logs)
        {
            <tr>
                <td>@UserFromLog(log).Name</td>
                <td>@log.Message</td>
                <td>@log.Timestamp.ToString("dd/MM/yyyy")</td>
            </tr>
        }
        </tbody>
    </table>
    </body>
</html>

@code {
    private User _loggedInUser;
    private List<LogEntry> _logs;
    
    protected override void OnInitialized()
    {
        _loggedInUser = SessionController.ActiveUser;
        _logs = LogController.GetAllLogs(_loggedInUser);
    }
    
    private User UserFromLog(LogEntry log)
    {
        return UserController.Get(log.UserId);
    }
}