@page "/"
@using BusinessLogic
@inject NavigationManager NavigationManager
@inject MemoryDataBase MemoryDataBase


<html lang="es" xmlns="http://www.w3.org/1999/html">
  <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

    <body>

    <h3>@if (UserRegistred()) { <text></text> }else { <text>¡Bienvenido!</text> }</h3>
    @if (!UserRegistred()) //lo estoy haciendo rapido, en realidad tendrias que hacer un get de admin alla abajo y si es null eso
    {
        <h4>@if (UserRegistred()) { <text>Puede ingresar un cliente</text> }else { <text>No hay usuarios registrados. Usted está a punto de registrar un administrador</text> }</h4>
        <button type="submit" class="btn btn-primary" @onclick="RegisterUser">Registrar administrador</button>
    }
    else
    {
        <h4>Usted ha registrado un administrador. Desea entrar al sistema o registrarse como cliente</h4>
        <form>
            <button type="submit" class="btn btn-primary" @onclick="RegisterUser">Registrarse</button>
            <br/>
            <br/>
            <button type="submit" class="btn btn-primary" @onclick="LoginUser">Entrar al sistema</button>
        </form>
    }

    </body>
</html>

@code {

    private Controller _controller; 
    
    protected override void OnInitialized()
    {
        _controller = new Controller(MemoryDataBase);
    }
    
    private void RegisterUser()
    {
        NavigationManager.NavigateTo("/Register",forceLoad: true);
    }

    private void LoginUser()
    {
        NavigationManager.NavigateTo("/Login",forceLoad: true);
    }

    private bool UserRegistred()
    {
        return _controller.GetUsers().Count > 0;
    }
    
}
