@using DepoQuick.Domain
<!-- PromotionDropdown.razor -->
@if (showDropdown)
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" @onclick="ToggleDropdown">
            Promociones
        </button>
        <div class="dropdown-menu">
            @foreach (var promotion in Promotions)
            {
                <a class="dropdown-item">@promotion.GetLabel()</a>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public List<Promotion> Promotions { get; set; }

    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
}
